# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# macOS
.DS_Store

# Archives and reports
*.xcarchive
*.resultbundle
*.xcresult

# Secrets
*.env
.env.*
